.admin-panel
{
    width: 100%;
    height: 25px;
    background-color: #000;
    color: #fff;
    position: fixed;
    top:0;
    z-index: 1000;
}
.admin-panel-white
{
    width: 100%;
    height: 25px;
}
.admin-panel a
{
    color: #fff;
}
.admin-panel a:hover
{
    color: #444444;
}
.hidden-admin-panel
{
    position: absolute;
    background: rgba(0,0,0,0.5);
    padding: 3px;
    z-index: 9999;
}