.adresses{
    width: 66% !important;
}
.availible-unknoun{display:none;}
.not-available{color:gray;}
.export-button{
    background-color: #842841;
    border-radius: 3px;
    color: #fff;
    font-family: "Bebas Neue Book",sans-serif;
    font-size: 28px;
    height: 100%;
    line-height: 50px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    width: 165px;
}
.error{
    color: #842841;
}
.question{
    font-size: 12px;
    color: #842841;
}

.article-content a{
    color: #842841;
}
#blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
    color: color: #F00;
}

@-webkit-keyframes blink {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
}

@keyframes blink {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
}

.my-input{
    max-width: 300px;
    width: 100%;
    border: 1px solid #d4d4d4;
    line-height: 29px;
}

.form-adress li{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 25px 25px 15px;
    font-weight: normal;
    height: 150px;
}
.form-adress li:hover{
    bacground-color: gray;
}

.form-adress{
    text-align: left !important;
}
.form-addr-edit {
    position: absolute;
    right: 5px;
    top: 5px;
}
.sel_addr{
    position: relative;
    height: 150px;
}
.form-addr-edit img{
    width: 24px;
}
.form-addr-text{
    font-size: 13px;
}
.add_new_adress_button{
    background-color: #842841;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-family: "Bebas Neue Book",sans-serif;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    outline: 0 none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    padding: 5px;
}
.edit_address{
    cursor: pointer;
}
. popup-info{
    width: 50% !important;
    float: left;
}
.popup_form_block{
    width: 100%;
    height:100%;
    display: table;
}

.address-form h1{
    font-family: "Bebas Neue Reg",sans-serif;
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
}

.address-form button{
    background-color: #842841;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-family: "Bebas Neue Book",sans-serif;
    font-size: 24px;
    height: 100%;
    line-height: 34px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;

}